---
layout: minimal
title: "About me"
permalink: /about/index.html
description: "Some description about Victor Igor..."
---

<img itemprop="image" class="img-rounded about_perfil" src="/assets/img/coolMatt.jpg" alt="My profile">

<h2> Backend / "Fullstack" Web Developer </h2>

<p>Making stuff is cool, but solving problems is even cooler.</p>

<p>
    I focus on building scalable web applications.  Solving problems such as to never
    keep a system from going down, error handling, and all the other complications
    from production applications.
</p>

<p>
    Even better though is making something impactful, providing actual utility to the
    end user. Solving programming problems is fun, but solving real world problems
    through programming is awesome.
</p>

<p>
    I'd love to connect if you feel the same way.
</p>

<h2>My projects</h2>

<div class="aboutme">
    <ul class="recent">
	{% for project in site.projects %}
	<li><a href="{{ project.url }}"><h3 class="project-name" itemprop="name">{{ project.name }}</h3></a></li>
	{% endfor %}
    </ul>
</div>

<h2>Work History</h2>

<h4>C3 Metrics</h4>
<p><b>Web Developer:</b> <i>Mar. 2017 - present</i></p>
<p>
    Full stack, big data, <i>web scale</i> developer.
</p>

<h4>The Matters of Matt</h4>
<p><b>Freelance Web Designer:</b> <i>Jan. 2015 - presentish</i></p>
<p>
    Custom websites for people.  I initially started just making websites with custom
    styling and layouts and hosting them on AWS for people.
</p>

<h2>Other Random Stuff</h2>
<div class="aboutme">
    <ul class="recent">
	{% for thing in site.random %}
	<li><a href="{{ thing.url }}" target="_blank"><h3 class="project-name" itemprop="name">{{ thing.name }}</h3></a></li>
	{% endfor %}
    </ul>
</div>


