{% if page.layout == 'post' %}
<script type="application/ld+json">
    {
     "@context": "http://schema.org",
     "@type": "BlogPosting",
     "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
     },
     "headline": "{{ page.title }}",
     {% if page.image %}
     "image": [
         "{{ site.url }}{{ page.image }}"
     ],
     {% endif %}
     "datePublished": "{{ page.date | date_to_xml_schema }}",
     "author": {% include author-meta.html %},
     "publisher": {% include organization-meta.html %},
     "description": "{{ page.description }}",
     "name": "{{ page.title }}"
}
</script>
{% endif %}
