{
  "@type": "Person",
  "@context": "http://schema.org",
  "url": "{{ site.url }}",
  "sameAs": [
    {% if site.linkedin_username %}
      "https://www.linkedin.com/in/{{ site.linkedin_username }}",
    {% endif %}
    {% if site.github_username %}
      "https://github.com/{{ site.github_username }}",
    {% endif %}
    {% if site.twitter_username %}
      "https://twitter.com/{{ site.twitter_username }}",
    {% endif %}
    {% if site.gitlab_username %}
      "https://gitlab.com/{{ site.gitlab_username }}"
    {% endif %}
  ],
  {% if site.profile_picture %}
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.profile_picture }}"
  },
  {% endif %}
  "name": "{{ site.username }}",
  "description": "{{ site.user_title }}",
  "jobTitle": "{{ site.user_position }}"
}
