body {
    background-color: #f6f6ef;
}

h1, h2, h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

a, p, ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color: #828282;
}

.main_page_link_container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.connecting_link {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    padding: .5rem;
    color: black;
    text-decoration: inherit;
}

.connecting_link img {
    width: 1.5rem;
    height: 1.5rem;
}

.main_page_header {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .main_page_container {
        margin-inline: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main_page_container {
        margin-inline: 5rem;
    }
}

@media only screen and (min-width: 992px) {
    .main_page_container {
        margin-inline: 16rem;
    }
}
