body {
    background-color: #f6f6ef;
}

h1, h2, h3 {
    font-family: Gill Sans, Helvetica;
}

a, p, ul {
    font-family: Helvetica, Times New Roman;
    color: #828282;
}

.main_page_link_container {
    max-width: 20rem;
}

.connecting_link {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    padding: .125rem .5rem;
    color: black;
    text-decoration: inherit;
    gap: .75rem;
}

.connecting_link img {
    width: 1rem;
    height: 1rem;
}

.main_page_header {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .main_page_container {
        margin-inline: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main_page_container {
        margin-inline: 5rem;
    }
}

@media only screen and (min-width: 992px) {
    .main_page_container {
        margin-inline: 16rem;
    }
}
